<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ClassicalMusicBean" class="ru.maxima.spring.player.ClassicalMusic"></bean>
    <bean id="RockMusicBean" class="ru.maxima.spring.player.RockMusic"></bean>
    <bean id="PopMusicBean" class="ru.maxima.spring.player.PopMusic"></bean>
    <bean id="classicalMusicPlayerBean" class="ru.maxima.spring.player.MusicPlayer">
        <constructor-arg ref="ClassicalMusicBean"></constructor-arg>
    </bean>
    <bean id="rockMusicPlayerBean" class="ru.maxima.spring.player.MusicPlayer">
        <constructor-arg ref="RockMusicBean"></constructor-arg>
    </bean>
    <bean id="popMusicPlayerBean" class="ru.maxima.spring.player.MusicPlayer">
        <constructor-arg ref="PopMusicBean"></constructor-arg>
    </bean>
</beans>